{% extends '@BetaMFDWiki/base.html.twig' %}

{% block header_javascripts %}
  {{ parent() }}
  {#}<script src="{{ asset('/bundles/betamfdwiki/js/tui-editor-Editor-all.min.js') }}" type="text/javascript"></script>#}
  <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor.js"></script>
{% endblock %}
{% block body %}
  <h1>Editing {% if post.isNew %} New Post {% else %}{{ post.Title }}{% endif %}</h1>

  <div id="spinner"></div>

  <form id='form' method="post">
    {% if csrf_token is defined and csrf_token is not empty %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div>
      <label for="title">Title</label>
      <input
          type="text"
          id="title"
          name="_title"
          value="{{ post.title }}"
          required="required"
          autofocus
          {% if post.isNew %}
            oninput="updateSlug(this.value)"
          {% endif %}
      />
    </div>

    <div>
      <label for="slug">Slug</label>
      <input
        type="text"
        id="slug"
        name="_slug"
        value="{{ post.slug }}"
        required="required"
        oninput="testSlug(this.value)"
      />
      <span class="error" id="slug_error"></span>
    </div>

    <div>
      <label for="post">Body</label>
      <div id="editSection"></div>
    </div>

    <div>
      <label for="comment">Comment</label>
      <input type="text" id="comment" name="_comment" required="required" />
    </div>

    <div>
      <label for="version">Version Type</label>
      <select id="version" name="_version" required="required">
        <option value="">Select a version type</option>
        <option value="major">Major</option>
        <option value="minor">Minor</option>
        <option value="patch">Patch</option>
      </select>
    </div>

    <div>
      <label for="tags">Tags</label>
      <input type="text" id="tags" name="_tags" value="{{ post.tagString }}"/>
    </div>

    <div>
      <input type="checkbox" id="draft" name="_draft" value="on" />
      <label for="draft">Is a Draft</label>
    </div>

    <div>
      <input id="submitSave" type="submit" value="Submit" class="btn btn-primary" name="save"/>
      {% if post.isNew %}
          <a href="{{ path('wiki_post_all_by_type', {'type': post.type}) }}">
      {% else %}
          <a href="{{ path('wiki_post_view', {'slug': post.slug}) }}">
      {% endif %}<button type="button">Cancel</button></a>
    </div>
  </form>

  <img src="/bundles/betamfdwiki/images/waiting.svg" wigth="20" height="20" style="display:none"/>

  <script>
      var editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical',
        codeBlockLanguages: ['SQL', 'PHP', 'javascript'],
        height: '400px',
        initialValue: '{{ post.markup|e('js') }}'
      });
    {% if post.isNew %}
      function updateSlug(newSlug) {
        newSlug = newSlug.replace(/ /g,'');
        document.getElementById("slug").value = newSlug;
        //test this slug to see if it's okay
        document.getElementById("slug_error").innerHTML='<img src="/bundles/betamfdwiki/images/waiting.svg" width=10 height=10 />';
        testSlug(newSlug);
      }
    {% endif %}

    function testSlug(slug) {
        $.ajax({
            type: "POST",
            url: '{{ url('wiki_post_slug_test') }}/' + slug,
            data: {},
            dataType: 'json',
            success: function() {
              document.getElementById("slug_error").innerHTML='OK'
            },
            error: function(response) {
              //console.log(response);
              document.getElementById("slug_error").innerHTML='Taken'
            }
        });
    }

    //when the form is submitted
    $('#form').submit(function(e) {
      //prevent the form from actually submitting so the JS can do things
      e.preventDefault();

      document.getElementById("spinner").innerHTML='<img src="/bundles/betamfdwiki/images/waiting.svg" />';
      var url = "{{ url('wiki_post_submit', {'type': type, 'id': post.id}) }}";

      //get the content of the post
      var content = editor.getValue();
      var html = editor.getHtml();

      //get the rest of the form
      var formSerialize = $(this).serialize();

      //console.log(html);
      //console.log(content);
      var formSerialize = formSerialize + '&_html=' + encodeURIComponent(html);
      var formSerialize = formSerialize + '&_markup=' + encodeURIComponent(content);

      //console.log(formSerialize);
      //post the data
      $.ajax({
          type: "POST",
          url: url,
          data: formSerialize,
          dataType: "json",
          success: function() {
              //forward to article
              var slug = document.getElementById("form").slug.value;
              window.location.href = "{{ url('wiki_post_view') }}/" + slug;
          },
          error: function() {
            alert("Failed to Save");
          }
      }); //end of $.ajax
    }); // end of form submit actions

  </script>

{% endblock %}
