{% extends '@BetaMFDWiki/base.html.twig' %}
{% block title %}All {{ type|title }} Posts | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ type|title }} Posts</h1>

    {% for cat, array in list %}
        {% if cat is same as (0) %}
          <h2>No Category</h2>
        {% else %}
          <h2>{{ cat }}</h2>
        {% endif %}
        <ul>
          {% for title, post in array %}
            <li><a href="{{ path('wiki_post_view', {'slug': post.slug}) }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
    {% else %}
        There are no {{ type }} posts.
    {% endfor %}
{% endblock %}
