{% extends '@BetaMFDWiki/base.html.twig' %}
{% block title %}{{ post.title }} | {{ parent() }}{% endblock %}
{% block header_javascripts %}
  {{ parent() }}
  <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Viewer.js"></script>
{% endblock %}
{% block body %}
  <h1>{{ post.title }}</h1>
  <div id="postData">
    Version: {{ post.semanticVersion }} <br />
    Last updated {{ post.date|date('Y-m-d') }} by {{ post.user }}<br />
  </div>
  <div id="modify">
    <a href="{{ path('wiki_post_edit', {'type': post.type, 'id': post.id}) }}">Edit</a><br />
    {#See History<br />
    See Unapproved Drafts<br />#}
  </div>
  <div id="viewerSection"></div>
  <a href="{{ path('wiki_post_edit', {'type': post.type, 'id': post.id}) }}">Edit</a>

  <script>
    var editor = new tui.Editor({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        codeBlockLanguages: ['SQL', 'PHP', 'javascript'],
        initialValue: '{{ post.markup|e('js') }}'
    });

  </script>

{% endblock %}
