{% extends '@BetaMFDWiki/design.html.twig' %}

{% block header_javascripts %}
  <script src="{{ asset('/bundles/betamfdwiki/js/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/markdown-it.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/to-mark.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/tui-code-snippet.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/codemirror.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/highlight.js') }}" type="text/javascript"></script>
  <script src="{{ asset('/bundles/betamfdwiki/js/squire-raw.js') }}" type="text/javascript"></script>

  <link rel="stylesheet" href="{{ asset('/bundles/betamfdwiki/css/codemirror.css') }}">
  <link rel="stylesheet" href="{{ asset('/bundles/betamfdwiki/css/github.css') }}">
  <link rel="stylesheet" href="{{ asset('/bundles/betamfdwiki/css/tui-editor.min.css') }}">
  <link rel="stylesheet" href="{{ asset('/bundles/betamfdwiki/css/tui-editor-contents.min.css') }}">
  {{ parent() }}
{% endblock %}
