{% extends '@BetaMFDWiki/base.html.twig' %}


{% block body %}
  {{ form_start(form) }}
  {% block form_body %}
    {{ form_widget(form) }}
  {% endblock %}
  {% block submit %}
        <input type="submit" value="Save" name="save"/>
  {% endblock %}
  {{ form_end(form) }}
{% endblock %}
