{% extends '@BetaMFDWiki/base.html.twig' %}
{% import "@BetaMFDWiki/category/index.html.twig" as macr %}

{% block title %}Categories | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Categories</h1>
    {% if tree is empty %}
        There are no categories. Make one.
    {% else %}
        <ul>
          {% for row in tree %}
            {{ macr.showTree(row) }}
          {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% macro showTree(tree) %}
    {% import "@BetaMFDWiki/category/index.html.twig" as macr %}
    <li>
      {{ tree.category }}
      {% if tree.children is not empty %}
        <ul>
          {% for row in tree.children %}
            {{ macr.showTree(row) }}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
{% endmacro %}
